@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.nav-bg {
	background-color: #191716;
}

.secondary-bg {
	background-color: #0A0903;
}

.foreground-bg {
	background-color: rgba(14, 39, 60, 0.90); 
	height: 88vh;
}

.title-color {
	color: #AAB9CF;
}

.title-bg {
	background-color: #3D348B;
	border: 2px dashed white;
	border-radius: 10px;
}

.title-post-bg {
	background-color: #637074;
}

.title-post-color {
	color: #8AB0AB;
}

.post-color {
	color: #AAB9CF;
}

.post-bg {
	background-color: #3F4045;
}

.post-author-color {
	color: #7D98A1;
}

.message-bg {
	background-color: #30343F;
}

::placeholder {
	color: #70798C;
	opacity: 0.5;
	font-style: italic;
}

.form-bg {
	background-color: #F5F1ED;
}