.nav-bg {
	background-color: #191716;
}

.nav-font {
	font-size: 16px;
	line-height: 1;
	font-family: monospace;
	letter-spacing: -1.2px;
}

.content-font {
	color: white;
	font-family: monospace;
	font-size: 14px;
}

.dropdown-font {
	font-size: 16px;
	line-height: 1.5;
	font-family: monospace;
}

.secondary-bg {
	background-color: #0A0903;
}

.foreground-bg {
	background-color: rgba(14, 39, 60, 0.90); 
	margin-top: 1vh;
	margin-bottom: 1vh;
	border-radius: 25px;
	height: 86vh;
}

.title-color {
	color: #AAB9CF;
}

.title-bg {
	background-color: #3D348B;
	border: 2px dashed white;
	border-radius: 10px;
}

.title-font {
	font-family: monospace;
	font-size: 32px;
	line-height: 1.5;
	font-weight: 800;
	letter-spacing: 0.4px;
	word-spacing: 0.4px;
}

.title-post-bg {
	background-color: #637074;
}

.title-post-color {
	color: #8AB0AB;
}

.post-color {
	color: #AAB9CF;
}

.post-bg {
	background-color: #3F4045;
}

.post-author-color {
	color: #7D98A1;
}

.message-bg {
	background-color: #30343F;
}

::placeholder {
	color: #70798C;
	opacity: 0.5;
	font-style: italic;
}

.form-bg {
	background-color: #F5F1ED;
}