extends layout

block content
	script.
		function toggle() {
			x = document.getElementById('pass');
			if(x.type == "password")
				x.type = "text"
			else x.type = "password"
		}
	.container
		.login
			h2.loginTitle Login
			form(name="Login", method="post")
				.input
					span.label User: 
					input(type="text", name="user")
					br
					span.label Password: 
					input(type="password", name="pass")#pass
					input(type="checkbox", name="show password", onclick=`toggle()`)
					| Show Password
				.action
					input(type="submit", value="Submit")
		.title
			h2= title
		.content
			ol
				- for(i = 0; i < 50; i++)
						a(href= "post" + (i+1)).postWrapper
							.post
								li
									| This is post number #{i + 1} ~ by user at 5:41 p.m.
		.bottom
			| || 
			a(href="#last")<< 
			| | page 1 of x | 
			a(href="#next")>> 
			| || 
			a(href="post").makePost  Post
