extend layout

block content
	script.
		function toggle() {
			x = document.getElementById('pass');
			if(x.type == "password")
				x.type = "text"
			else x.type = "password"
		}
	.container
		h2.loginTitle Login
		form(name="Login", method="post")
			.input
				span.label User: 
				input(type="text", name="user")
				br
				span.label Password: 
				input(type="password", name="pass")#pass
				br
				input(type="checkbox", name="show password", onclick=`toggle()`)
				| Show Password
			.action
				input(type="submit", value="Submit")