extends layout

block content
	.postContainer
		form(name="Post", method="post")
			.postTitle 
				h2 Post
			h3 Title
			textarea(rows="1", cols="1")
			h3 Content
			textarea(rows="5") 
			.postAction
				input(type="submit", value="Submit")